<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Invoice service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
    <style>
        #logo {
        margin-left: 25px;
        margin-top: 25px;
        height: 110px;
        display:in-line;
        size:30px;
        }
    </style>
</head>
<body>
<div id="logo">
    <svg width="300" height="110">
        <style>
            .heavy {font: normal 35px serif;}
            .small {font: normal 17px sans-serif;}
        </style>
        <rect width="30" height="75" style="fill:rgb(190, 229, 235);stroke-width:1;stroke:rgb(48, 142, 156)" />
        <text x="17" y="55" class="heavy">Invoicing</text>
        <text x="30" y="75" class="small">service</text>
    </svg>
</div>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>
